.card {
  margin: 24px;
  width: 90vw;
  height: 240px;
  background-color: white;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 8px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding-top: 16px;
  padding-bottom: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.cardImg {
  padding-left: 24px;
  margin-left: 24px;
  width: 20%;
  height: 100%;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.cardText {
  width: 80%;
  height: 100%;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
}

.cardVaccineName {
  font-weight: bold;
  color: rgb(0, 26, 255);
  text-shadow: 0 8px 4px rgba(0, 0, 0, 0.2);
}
